<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource
                        id="Buhoo_ModuloBasico::buhoobackend"
                        title="BuhooBackend" sortOrder="60">
                        <resource id="Buhoo_ModuloBasico::index" title="BuhooBackend Index" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
