<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Buhoo_ModuloBasico::buhoobackend"
            title="BuhooBackend"
            module="Buhoo_ModuloBasico"
            sortOrder="50"
            parent="Magento_Backend::marketing"
            resource="Buhoo_ModuloBasico::buhoobackend"
        />
        <add
            id="Buhoo_ModuloBasico::index"
            title="BuhooBackend Index"
            module="Buhoo_ModuloBasico"
            sortOrder="51"
            parent="Buhoo_ModuloBasico::buhoobackend"
            action="buhooadmin/index/"
            resource="Buhoo_ModuloBasico::index"
        />
    </menu>
</config>
